@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}
.FormSec {
  margin-top: 1.5rem;
}
::selection {
  background: #249a69;
}
/* .blt{
  position:sticky;
  z-index: -9 !important;
} */

.FormSec form label {
  margin-top: 1rem;
}

.FormSec form input {
  margin: 0.5rem 0 2.5rem;
  padding-left: 3rem;
}

.desc {
  width: 100%;
  height: 100vh;
  padding: 1.8rem;
}

.desc h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.profImg {
  margin-top: 2rem;
}

.ipSvg {
  position: absolute;
  margin: 1.2rem;
}

.descIdeo {
  margin-top: 1rem;
}
/* .greenBtn div {
  padding-top: 10px;
} */

/* @media screen and (min-width: 420px) {
  .greenBtn div span {
    margin: 0.6rem;
  }
} */

/* @media screen and (min-width: 600px) {
  .greenBtn {
    font-weight: bold;
    font-size: 1.5rem;
    letter-spacing: 1.2px;
  }
  .greenBtn div {
    padding-top: 6.5px;
  }
} */
@media screen and (max-width: 600px) {
  .descIdeo .cutEdg {
    font-size: 16px;
    letter-spacing: -0.5px;
    font-weight: bold;
  }
}
@media screen and (max-width: 325px) {
  .descIdeo .cutEdg {
    font-size: 14.5px;
  }
  /* .greenBtn {
    font-size: 14px;
  }
  .greenBtn div {
    padding-top: 13px;
  } */
}
@media screen and (max-width: 915px) {
  .iii {
    font-size: 20px;
  }
}
.heroTop {
  padding: 26px 0;
}
@media screen and (max-width: 782px) {
  .heroTop {
    margin-top: 5rem;
  }
  .iii {
    font-size: 18px;
  }
}
@media screen and (max-width: 442px) {
  .iii {
    font-size: 20px;
  }
}
@media screen and (max-width: 420px) {
  .iii {
    font-size: 17px;
  }
}
.loginImg {
  width: 650px;
}
@media screen and (max-width: 625px) {
  .loginImg {
    visibility: none;
  }
}
.loginContainer {
  display: flex;
  justify-content: space-evenly;
}
.newloginContainer {
  width: 100%;
}
@media screen and (min-width: 1023px) {
  .newloginContainer {
    width: 30rem;
  }
}
@media screen and (max-width: 1024px) {
  .loginContainer {
    flex-direction: column;
    align-items: center;
  }
}

.newLoginForm {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 380px) {
  .newLoginForm {
    padding: 0px;
  }
}
.newLoginForm input {
  margin: 3.5px 0 1rem;
}
.formBottom {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 0;
}
.bulletPoints {
  margin: 10px;
  display: inline-block;
  font-size: 8px;
  position: relative;
  bottom: 4px;
}
.bulletPoint {
  margin: 5px;
  display: inline;
  font-size: 8px;
  position: relative;
  bottom: 3px;
}
@media screen and (max-width: 1025px) {
  .bulletPoints {
    bottom: 0px;
  }
}
@media screen and (max-width: 640px) {
  .bulletPoints {
    bottom: -5px;
  }
}

/* .ideoData {
  font-size: 1.6rem;
  text-align: center;
} */
/* @media screen and (max-width: 470px) {
  .ideoData {
    font-size: 1.25rem;
  }
  .ideoHead {
    font-size: 1.5rem;
  }
} */
@media screen and (max-width: 715px) {
  .greyContent {
    font-size: 20px;
  }
}
@media screen and (max-width: 1065px) {
  .rightQuote {
    height: 1.8rem;
  }
  .leftQuote {
    height: 1.8rem;
  }
}
@media screen and (max-width: 750px) {
  .RightIcons {
    width: 2.3rem;
  }
}
@media screen and (max-width: 750px) {
  /* .ideoIcons {
    width: 1.5rem;
  } */
  .progRight {
    padding: 0 3rem;
  }
  .perc {
    font-size: 10px;
  }
}
.progBar {
  position: relative;
  top: 8px;
}

.infPics > * {
  display: inline;
}

/* .logo {
  position: relative;
  bottom: 5rem;
} */
/* @media screen and (max-width: 1464px) {
  .logo {
    bottom: 4.5rem;
  }
}
@media screen and (max-width: 1110px) {
  .logo {
    bottom: 3.8rem;
  }
}
@media screen and (max-width: 441px) {
  .logo {
    bottom: 3.6rem;
  }
} */

@media screen and (max-width: 1024px) {
  .picAndDesc {
    flex-direction: column;
  }
  .authImg {
    margin-left: 25px;
    margin-bottom: 2rem;
  }
  .bkimg {
    margin-left: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .bkimg {
    width: 50rem;
  }
}
@media screen and (max-width: 768px) {
  .descTopic {
    text-align: center;
  }
  .wtf {
    width: 10rem;
  }
}
@media screen and (min-width: 769px) {
  .timeClock {
    margin: 0 20px;
  }
}
@media screen and (min-width: 1025px) {
}
@media screen and (max-width: 1025px) {
  .flexTime {
    flex-direction: column;
  }
  .wtf {
    margin-left: 3rem;
  }
  .timeSaved {
    margin: 1rem auto;
  }
  .arrowOne {
    margin-left: 17rem;
    margin-top: 1.5rem;
  }
  .arrowTwo {
    margin-right: 15rem;
  }
}
.benefits {
  width: 100%;
  height: 100%;
  background: rgba(138, 187, 167, 0.1);
}
/* @media screen and (max-width: 580px) {
@media screen and (min-width:1440px){
  .timeSaved{
    margin:1rem 8rem;
  }
}
@media screen and (max-width: 580px) {
  .benifitsTopics {
    font-size: 15px;
    font-weight: bold;
  }
}
@media screen and (max-width: 443px) {
  .benifitsTopics {
    font-size: 13px;
    font-weight: bold;
  }
}
@media screen and (max-width: 550px) {
  .benifitsTopics {
    font-size: 12px;
  }
  .benifits {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 411px) {
  .benifitsTopics {
    font-size: 10.5px;
  }
} */
.whiteBox {
  width: 100%;
}

/* @media screen and (max-width: 1025px) {
  .bandf {
    font-size: 25px;
  }
}
@media screen and (max-width: 770px) {
  .bandf {
    font-size: 19px;
    margin: 0 5rem;
  }
}
@media screen and (max-width: 450px) {
  .bandf {
    margin: 0;
    font-size: 20px;
  }
} */
@media screen and (max-width: 769px) {
  .nava {
    font-size: 13.3px;
  }
}
@media screen and (max-width: 766px) {
  .nava {
    font-size: 17px;
  }
}
@media screen and (max-width: 550px) {
  .readBk {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bkActions {
    justify-content: center;
  }
  .b_name,
  .b_auth {
    text-align: center;
  }
  .book_con {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 770px) {
  .showRes {
    font-size: 14px;
  }
}
@media screen and (max-width: 550px) {
  .showRes {
    font-size: 16px;
  }
  .searchCont {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 426px) {
  .book_con {
    position: relative;
    bottom: 13px;
  }
}
@media screen and (max-width: 395px) {
  .book_con {
    position: relative;
    bottom: 9px;
  }
}

@media screen and (min-width: 768px) {
  .infPic:hover {
    transform: scale(1.2);
    transition: 300ms ease-out;
  }
}

@media screen and (min-width: 770px) {
  .testi {
    margin: 0 10rem;
  }
}
.samp img {
  border-radius: 500px;
}
.wwd:hover {
  z-index: 10;
  transform: scale(1.1);
  transition: all 300ms ease-out;
}
@media screen and (max-width: 1024px) {
  .wwd {
    margin-bottom: 5rem;
  }
}
.emailIp:focus {
  border: 2px solid green;
}
@media screen and (min-width: 1023px) {
  .lboard {
    position: relative;
    bottom: 2rem;
  }
}
@media screen and (max-width: 412px) {
  .gridBx {
    width: 24rem;
  }
}
@media screen and (max-width: 450px) {
  .medalAndProg {
    margin: 0 1rem;
  }
  .medalCont {
    margin: 0 1rem;
    width: 24rem;
  }
  .progBar {
    padding: 0 1rem;
  }
}
@media screen and (max-width: 430px) {
  .scrollmenu {
    width: 18rem;
  }
}
@media screen and (max-width: 450px) {
  .readCardBk {
    font-size: 16px;
  }
}
@media screen and (max-width: 769px) {
  .readBkAuth {
    font-size: 16px;
  }
  .unWantMob {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .readBkAuth {
    font-size: 14.5px;
  }
}
@media screen and (max-width: 450px) {
  .bkContentnotes {
    text-align: center;
  }
  .listNotes {
    max-width: 90rem;
    width: 90%;
  }
  .bookDet,
  .pointc {
    text-align: center;
  }
  .unWantMob {
    display: none;
  }
}

/* .body {
  min-height: 100vh;
} */

.log {
  width: 120px;
  padding: 10px 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #2cb67d;
  color: #ffff;
  cursor: pointer;
  transition: 0.2s;
}

.log:hover {
  background-color: #249a69;
}

.sin {
  width: 120px;
  padding: 8px 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 2px solid #2cb67d;
  border-radius: 5px;
  background-color: #fff;
  color: #2cb67d;
  transition: 0.2s;
}

.sin:hover {
  background: #249a69;
  color: #fff;
}
@media screen and (max-width: 376px) {
  .ff {
    font-size: 16px;
  }
  .phero {
    padding: 5px 0px;
  }
}
.getstarted {
  width: 220px;
  padding: 15px 30px;
  text-align: center;
  border-radius: 5px;
  background-color: #2cb67d;
  color: #fff;
}
@media screen and (max-width: 769px) {
  .getstarted {
    padding: 8px 6px;
    width: 140px;
  }
}
@media screen and (max-width: 430px) {
  .getstarted {
    padding: 5px;
    width: 110px;
    font-size: 16px;
  }
}
.getstart {
  width: 100px;
  padding: 7px 10px;
  text-align: center;
  border-radius: 5px;
  background-color: #2cb67d;
  color: #fff;
}

.getstarted:hover {
  background-color: #249a69;
}
.mob {
  padding: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.mlog {
  margin-left: 30%;
}

.body {
  background-color: #d9d9d9;
}

.get {
  background-color: #2cb67d;
  width: 150px;
  height: 40px;
  border-radius: 2px;
}

.get:hover {
  background-color: #2cb67d;
  width: 150px;
  height: 40px;
  border-radius: 2px;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: flex-center;
  padding-top: 2rem;
  max-width: 100%;
}

.row input::-webkit-input-placeholder,
.row textarea::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.1s ease-out;
}
/* .form-check-input:focus
{
 outline: none;
 border: none;
} */
.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder,
.row textarea:hover::-webkit-input-placeholder,
.row textarea:focus::-webkit-input-placeholder {
  opacity: 0;
}
.loginput {
  width: 24rem;
}
.row label {
  align-self: flex-start;
  padding-left: 4rem;
  font-weight: 500;
  padding-bottom: 0.5rem;
  color: rgba(0, 0, 0, 0.9);
}

.other {
  margin-top: -20rem;
}

.row button {
  border-radius: 5px;
  width: 80%;
  font-size: 1.2rem;
  padding: 8px 0px;
  color: white;
  font-weight: 600;
  background: #2cb67d;
  border: 0px;
  cursor: pointer;
  transition: background 0.2s ease-out;
}

.row button:hover {
  background: #228f61;
}

#headerTitle {
  font-weight: 600;
  color: #2cb67d;
  font-size: 2rem;
}
@media screen and (max-width: 1024px) {
  #headerTitle {
    font-weight: 600;
    color: #2cb67d;
    font-size: 2rem;
  }
  .new {
    margin-top: -50px;
    padding: "4.5rem 2rem 0 0";
  }
}
.rw {
  margin-top: 20px;
}

.rw label {
  position: relative;
  width: 137px;
  height: 24px;
  left: 50px;
}

.rw span {
  position: relative;
  width: 137px;
  height: 24px;
  left: 100px;
  bottom: 1px;
  color: #181818;
}

.row span {
  color: #2cb67d;
}

.new {
  margin-top: -50px;
}
.newn {
  margin-top: -50px;
  padding: 4.5rem 2rem 0rem 0rem;
}

.new1 {
  margin-top: 50px;
}

.islider {
  text-align: center;
  justify-content: center;
  align-items: center;

  margin-top: 2rem;
}

.islider span i {
  font-size: 2rem;
}

.islider .str2 {
  font-size: 2rem;
  color: #2cb67d;
  font-weight: 500;
}

.slide {
  margin-top: 3rem;
  max-width: 380px;
  border-radius: 5px;
  z-index: -99999999;
}

#feat {
  text-align: center;
  justify-content: center;
  align-items: center;
}

#feat span {
  font-size: 2rem;
}

.cti {
  width: 400px;
  height: 50vh;
  margin-top: -40vh;
}

#player {
  z-index: -9 !important;
}

.cim {
  position: sticky !important;
  z-index: -9999 !important;
}

.foottext {
  color: rgba(0, 0, 0, 0.4);
}

.footer {
  background: #f9f9f9;
}

.heading {
  font-size: 18px;
  font-weight: 500;
}

.hru {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 80%;
  height: 1.5px;
}
.nhr {
  background-color: #7f5af0;
  padding-top: 3px;
  height: 5px;
}
.dashtext {
  color: rgba(1, 3, 3, 0.3);
}

.imgr {
  border-radius: 50%;
}

.imgr2 {
  border-radius: 50%;
  max-width: 50px;
  max-height: 50px;
}

.ne {
  min-width: 130px;
  min-height: 130px;
  border-radius: 50%;

  border: 2px solid #7f5af0;
}
.inner {
  border-radius: 50%;
  max-width: 100px;
  max-height: 100px;
}
.inne {
  border-radius: 50%;
}

.rrt {
  width: 900px;
}

.cover_image {
  width: 150px;
  height: 200px;
}

.book_con {
  height: 200px;
}

.svg {
  max-width: 100%;
  vertical-align: middle;
}

.svg-pi {
  width: 50px;
  height: 50px;
  transform: rotate(-90deg);
  /* Fix the orientation */
}

.svg-pi-track {
  stroke: #ddd;
}

.svg-pi-indicator {
  stroke: #07c;
  stroke-dasharray: 151.2px;
  /* DashArray = Track's or indicator's Circumference */
  stroke-linecap: round;
}

.svg-pi-track,
.svg-pi-indicator {
  cx: 25px;
  cy: 15;
  r: 20px;
  fill: transparent;
  stroke-width: 5px;
}

.svg-pi-73 .svg-pi-indicator {
  stroke-dashoffset: 67.824px;
}

.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

.scrollmenu::-webkit-scrollbar {
  display: none;
}

.scrollmenu a {
  display: inline-block;
}

.navtxt {
  color: rgba(1, 3, 3, 0.3);
}

.cls {
  width: 150px;
}

.nod {
  font-size: 1.5rem;
}

.subt {
  font-size: 1.2rem;
}

.int {
  max-width: 100%;
}

.int {
  width: 80%;
  box-sizing: border-box;
  border: none;
  font-size: 1.2rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
  transition: box-shadow 0.2s ease-in;
}

.int:focus,
.int:focus {
  box-shadow: inset 0px -3px 0px 0px #2cb67d;
  outline: none;
  background: #fff;
}

.int::-webkit-input-placeholder,
.int::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

.larr {
  height: 20px;
  width: 20px;
}

/* .cont {
  width: 120px;
  padding: 5px 12px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #2cb67d;
  color: #ffff;
} */
.cont {
  width: 120px;
  padding: 10px 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background-color: #2cb67d;
  color: #ffff;
  cursor: pointer;
  transition: 0.2s;
}

.cont:hover {
  background-color: #249a69;
}

.pointc {
  color: #2cb67d;
}

.verticalscroll::-webkit-scrollbar {
  display: none;
}

.dot {
  font-size: 4rem;
  color: #111010;
}

.authimg {
  border-radius: 50%;
}

.high {
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 20px 40px;
}
@media screen and (max-width: 769px) {
  .high {
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 15px 40px;
  }
}
@media screen and (max-width: 430px) {
  .high {
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px 15px;
  }
}
.high1 {
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  padding: 10px 20px;
}
@media screen and (max-width: 769px) {
  .high1 {
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 430px) {
  .high1 {
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 8px 10px;
  }
}
@media screen and (max-width: 330px) {
  .cuteg {
    margin: 0px 10px;
  }
}

.swiper-pagination-bullet-active {
  background-color: #2cb67d !important;
}

.swiper-button-next {
  background-image: url(../public/nextswipe.svg);
  background-repeat: no-repeat;
  padding-right: 20px !important;
  background-size: 150% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url(../public/prevswipe.svg);
  background-repeat: no-repeat;

  background-size: 150% auto;
  background-position: center;
}

.swiper-button-prev::after {
  display: none;
}

.opp {
  opacity: 0.7;
}

#card1 {
  background: linear-gradient(rgba(33, 147, 176, 1), rgba(109, 213, 237, 1));
}
#card2 {
  background: linear-gradient(rgba(233, 162, 100, 1), rgba(157, 93, 40, 1));
}
#card3 {
  background: linear-gradient(rgba(76, 29, 81, 1), rgba(60, 12, 60, 1));
}

#card4 {
  background: linear-gradient(rgba(162, 24, 109, 1), rgba(132, 35, 89, 1));
}
#card5 {
  background: linear-gradient(rgba(94, 71, 137, 1), rgba(110, 89, 202, 1));
}
#card6 {
  background: linear-gradient(rgba(159, 233, 95, 1), rgba(107, 151, 69, 1));
}

.wavebgr {
  background-image: url(../public/landingwave1.svg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 200px;
}

@media screen and (max-width: 450px) {
  .wavebgr {
    background-image: url(../public/landingwave1mob.svg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 100px;
  }
}

.Mobileappsection {
  background-image: url(../public/landingwave2.svg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
}
@media screen and (max-width: 450px) {
  .Mobileappsection {
    background-image: url(../public/landingwave2mob.svg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
  }
}
.missionpage {
  background-image: url(../public/mwavedesk.svg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
}
@media screen and (max-width: 790px) {
  .missionpage {
    background-image: url(../public/mwavetab.svg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
  }
}
@media screen and (max-width: 590px) {
  .missionpage {
    background-image: url(../public/mwavemobile.svg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0;
  }
}

.dropshadow {
  box-shadow: 0px 5px 30px -6px rgba(0, 0, 0, 0.1);
}

#p1 {
  color: #2cb67d !important;
}
#p2 {
  color: #2cb67d !important;
}
#p3 {
  color: #2cb67d !important;
}
#p4 {
  color: #2cb67d !important;
}
#p5 {
  color: #2cb67d !important;
}

.about_hero {
  background-image: url(../public/readwave.svg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 0;
}

@media screen and (max-width: 780px) {
  .about_hero {
    background-image: url(../public/hwavemobile.svg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 25px 0 100px 0;
  }
}

@media screen and (max-width: 450px) {
  .about_hero {
    background-image: url(../public/hwavetab.svg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 0 80px 0;
  }
}
.bg {
  background-color: #111010 !important;
}
.dropbtn {
  background-color: #ffff;
  color: black;

  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropbtn-black {
  background-color: black;
  color: #ffff;

  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content-black {
  color: #ffff;
  display: none;
  position: absolute;
  background-color: #000000;

  min-width: 160px;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99 !important;
}
.dropdown-content {
  display: none;
  position: absolute;

  background-color: #f9f9f9;
  min-width: 160px;

  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99 !important;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content-black {
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* .keybgr
{
  background-image: url(../public/bulbbgr.svg);
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0;
  object-fit: cover;
  object-position: top;
} */

.readDesc {
  background-color: rgba(138, 187, 167, 0.1);
  width: 100%;
  height: 100%;
}
.tte:hover {
  z-index: 10;
  transform: scale(1.1);
  transition: all 300ms ease-out;
}

/* @media screen and (min-width: 450px) {
  .about_hero {
    background-image: url(../public/hwavemobile.svg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0;
  }
}
 */
.savebtn {
  width: 120px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  background-color: #2cb67d;
  color: #ffff;
  cursor: pointer;
  transition: 0.2s;
}

.savebtn:hover {
  background: #249a69;
}
.oop {
  opacity: 0.5;
}
input[type="checkbox"]:focus {
  outline: 0;
}
.linespace {
  font-size: 20px;
  line-height: 197%;
}

.btn-play {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 20px 0 20px 30px;
  border-color: transparent transparent transparent #228f61;
  cursor: pointer;
}

.btn-stop {
  height: 40px;
  width: 30px;
  border-left: 10px solid #249a69;
  border-right: 10px solid #228f61;
  cursor: pointer;
}
.control-panel {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}
.control-panel-dark {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.timer {
  font-size: 12px;
  font-weight: 200;
  color: rgb(0, 0, 0);
}
.timer-dark {
  font-size: 12px;
  font-weight: 200;
  color: #ffff;
}
.slider-container {
  --progress-bar-height: 4px;
}
.slider-container-dark {
  --progress-bar-height: 4px;
}

.slider-container {
  position: relative;
  width: 100%;
}

.slider-container-dark {
  position: relative;
  width: 100%;
}
/* Background */
.slider-container::before {
  content: "";
  background-color: rgb(168, 162, 162);
  width: 99%;
  height: calc(var(--progress-bar-height) - 1px);
  display: block;
  position: absolute;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.slider-container-dark::before {
  content: "";
  background-color: rgb(168, 162, 162);
  width: 99%;
  height: calc(var(--progress-bar-height) - 1px);
  display: block;
  position: absolute;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

/* Custom Progress Bar */
.progress-bar-cover {
  background-color: #000000;
  width: 0%;
  height: var(--progress-bar-height);
  display: block;
  position: absolute;
  border-radius: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  user-select: none;
  pointer-events: none;
}
.progress-bar-cover-dark {
  background-color: #ffff;
  width: 0%;
  height: var(--progress-bar-height);
  display: block;
  position: absolute;
  border-radius: 10px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  user-select: none;
  pointer-events: none;
}

/*  Hide Original */
.range-dark {
  -webkit-appearance: none;
  background-color: rgba(240, 9, 9, 0.397);
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  margin: 0 auto;
}
.range {
  -webkit-appearance: none;
  background-color: rgba(240, 9, 9, 0.397);
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;
  margin: 0 auto;
}
.slider-container {
  --thumb-width: 20px;
  --thumb-height: 20px;
}
.slider-container-dark {
  --thumb-width: 20px;
  --thumb-height: 20px;
}

.range::-webkit-slider-thumb {
  width: var(--thumb-width);
  height: var(--thumb-height);

  background: #350f2d;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
}
.range-dark::-webkit-slider-thumb {
  width: var(--thumb-width);
  height: var(--thumb-height);

  background: #350f2d;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  -webkit-appearance: none;
}

.thumb {
  width: var(--thumb-width);
  height: var(--thumb-height);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.753);
  z-index: 3;
  background: #ffffff;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  pointer-events: none; /* Remove pointer events on thumb so user can click on the actual thumb beaneath it!  */
  user-select: none; /*  Prevent Accidentally highlighting the number while sliding the cursor  */
}
.thumb-dark {
  width: var(--thumb-width);
  height: var(--thumb-height);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.753);
  z-index: 3;
  background: #ffffff;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  transform: translate(0%, -50%);
  pointer-events: none; /* Remove pointer events on thumb so user can click on the actual thumb beaneath it!  */
  user-select: none; /*  Prevent Accidentally highlighting the number while sliding the cursor  */
}
.app-container {
  width: 500px;
  padding: 0 10px;
  background-color: #ffffff;
  padding: 30px 50px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(255, 255, 255, 0.479);
}
.app-container-dark {
  width: 500px;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 30px 50px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  #mission {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 500px) {
  #sec1 {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 500px) {
  .cenbtn {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.descbgr {
  width: 100%;
  height: 100%;
  background: rgba(138, 187, 167, 0.1);
}
.acclaimed {
  width: 100%;
  height: 100%;
  background: rgba(138, 187, 167, 0.1);
}
@media screen and (max-width: 357px) {
  .foobar {
    display: flex;
    flex-direction: column;
  }
}
.fohv {
  padding: 7px 8px 0px 8px;
  border-radius: 100%;
  transition: 0.5s;
}
.fohv:hover {
  background: #b7008f;
}
@media print {
  .prnt {
    display: none;
    user-select: none;
  }
}
